<!DOCTYPE html>
<html>
  <head>
    <title>Store | Terminos y condiciones</title>
  </head>
  <body>
    <h1>Store </h1>
    <p>
      Aqui van los terminos y condiciones del sitio web
    </p>
  </body>
</html>