/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.body{
	background:url(main_bg.jpg) no-repeat center fixed ;
}
/*
===========================
	Wrapper
===========================
*/

#wrapper {
width:940px;
margin:0 auto;
}
#header {
background:none repeat scroll 0 0 ;
margin: 0 0 10px;
padding: 1px;
}
#toolbar{
height:25px;
margin: 20px 0 0;
overflow:hidden;	
}
#topleftlinks{
float:left;
width:auto;	
}
.left_links {
float:right;
padding-top:9px;
padding-right:0	px;
}
.left_links li {
float:left;
font-size:smaller;	
list-style:none;
line-height:16px;
background:url(sep-nav-header.gif) no-repeat left 4px;
padding:0 6px 0 8px;
}
.left_links li a {
color:#aaa;
}
.left_links li:first-child {
background:none;
}
.left_links li a:hover , .left_links li a.active{
color:#fab300;
}
#logotram{
background:url(logo-tramontina-99x20.gif)no-repeat scroll right 0 transparent;
position:absolute;
font-size:smaller;
margin: 6px 0 0 400px;
padding: 5px 100px 10px 0;
}
#cartitems{
font-size:smaller;
float:right;
padding-top:9px;
margin: 1px 5px 0 5px;
}
#cart{
background:url(cart.jpg)no-repeat scroll left 0 transparent;
font-size:smaller;
float:right;
height:20px;
margin: 4px 0 0 25px;
padding: 6px 0 0 30px;
}
#logbtns{
font-size:smaller;
float:right;
}
#slider {
float:left;
width:930px;
z-index:10;
height:367px;
position:relative;
}
#container{
width: 940px;
float: left;
background:none repeat scroll 0 0 #FFFFFF;
margin-top: 0 0 10px;
padding: 20px 20px 4px;
}
#containerleftcont{
  width: 26%;
  float: left;
  overflow:hidden;
}
#containerrightcont{
  width: 74%;
  float: right;
}

#footer{
width:940px;
height:24px;
margin: 10px 0 0;
overflow:hidden;
}







a {
outline: 0;
text-decoration: none;
}
dl.tabs.vertical {
height: auto;
border-bottom: 1px solid #E6E6E6;
}
dl.tabs {
border-bottom: solid 1px #E6E6E6;
display: block;
height: 40px;
padding: 0;
margin-bottom: 20px;
}
dl.tabs.vertical dd {
border-left: 3px solid #CCC;
}
dl.tabs.vertical dt, dl.tabs.vertical dd {
float: none;
height: auto;
}

dl.tabs dd:first-child {
margin-left: 0;
}
dl.tabs dd {
display: block;
float: left;
padding: 0;
margin: 0;
}
dl.tabs.vertical dd a {
background: #F2F2F2;
border: none;
border: 1px solid #E6E6E6;
border-width: 1px 1px 0 0;
color: #555;
display: block;
font-size: 14px;
height: auto;
line-height: 1;
padding: 15px 20px;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
dl.tabs dd a {
color: #6F6F6F;
display: block;
font-size: 14px;
height: 40px;
line-height: 40px;
padding: 0 23.8px;
}
.subtopic {text-indent:20px; }


