/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
background:url('main_bg.jpg') no-repeat fixed center 0 #EFEFEF ;
font-size:11px;
font-family:tahoma, arial, sans-serif;
color:#888;
}

/*
===========================
	Wrapper
===========================
*/
#wrapper {
width:940px;
margin:0 auto;
}
#header {
width:940px;
float:left;
position:relative;
z-index:50;
}
#logo {
float:left;
margin-top:5px;
margin-left:16px;
}
.right_header {
float:right;
}

.cart-box {
float:right;
height:40px;
}
.cart-left {
float:left;
width:7px;
height:40px;
background:url(../images/bg-left-header.png) no-repeat left top;
}
.cart-right {
float:left;
width:7px;
height:40px;
background:url(../images/bg-right-header.png) no-repeat left top;
}
.cart-content {
float:left;
background:#222;
height:30px;
padding-top:10px;
padding-left:7px;
padding-right:7px;
}
.cart-content ul {
float:left;
padding-left:28px;
line-height:20px;
background:url(../images/bg-cart.gif) no-repeat left top;
}
.cart-content ul li {
float:left;
font-family:sansation;
font-size:13px;
color:#aaa;
background:url(../images/sep-nav-header.gif) no-repeat left 5px;
padding:0 5px 0 7px;
}
.cart-content ul li:first-child {
background:none;
padding-left:2px;
}
.cart-content ul li a {
color:#aaa;
}
.cart-content ul li a span {
color:#fab300;
}

.account_login {
float:right;
padding-top:13px;
padding-right:12px;
}
.account_login li {
float:left;
line-height:16px;
background:url(../images/sep-nav-header.gif) no-repeat left 4px;
padding:0 6px 0 8px;
}
.account_login li a {
color:#aaa;
}
.account_login li:first-child {
background:none;
}
.account_login li a:hover , .account_login li a.active{
color:#fab300;
}

.search_field {
float:right;
clear:both;
width:360px;
height:37px;
background:url(../images/bg-search.png) no-repeat left top;
padding-left:33px;
margin-top:15px;
margin-bottom:16px;
}
.search_field input {
float:left;
height:15px;
border:none;
background:none;
width:272px;
font-family:tahoma, arial, sans-serif;
font-size:14px;
color:#aaa;
padding:11px 0;
}
.search_field a {
display:block;
float:right;
height:28px;
width:75px;
text-indent:-9999px;
margin-top:5px;
margin-right:5px;
}

