<div id="containerrightcont">	
<h4>Productos</h4>

<table>
  <tr>
    <th>Producto</th>
    <th>Descripcion</th>
    <th>Imagen</th>
    <th>Precio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to product.title, product %></td>
    <td><%= product.description %></td>
    <td><%= image_tag(product.image_url) %></td>
    <td><%= product.price %></td>
  </tr>
<% end %>
</table>

<br />
</div>
<div id="containerleftcont">
	<h4>Categorias</h4>
<dl class="nice vertical tabs">
  <dd class="topic"><a href="#simple1">Categoria 1</a></dd>
  <dd class="topic"><a href="#simple4">Categoria 2</a></dd>
      <dd class="subtopic"><a href="#simple5">Subcat 1</a></dd>
      <dd class="subtopic"><a href="#simple6">Subcat 2</a></dd>
  <dd class="topic"><a href="#simple7">Categoria 3</a></dd>
      <dd class="subtopic"><a href="#simple8">Subcat 1</a></dd>
      <dd class="subtopic"><a href="#simple9">Subcat 2</a></dd>
</dl>
</div>
