<footer class="footer">
   <ul class="left_links">
      <li><%= link_to "Sugerencias y reclamos", '#' %></li>
      <li><%= link_to "Terminos y condiciones", terms_path %></li>
      <li>Empresa ©2012</li>
    </ul>
</footer>