<header>
<div id="header">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Logo", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Empresa",    empresa_path %></li>
          <li><%= link_to "Contacto", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>